body {
    background-color: brown;
    text-align: center;
    margin: 0px;
}
.p1 {
    font-style: normal;
    font-size: large ;
    color: rgb(2, 2, 2));
}

.p2 {
    font-style:normal;
    font-size: large;
    color: rgb(2, 2, 2);
}

header {
    border-bottom: rgb(226, 204, 162);
    margin-top: 5px;
    padding: 20px;
    font-size: 10px;
    text-decoration: black;
}