body {
    background-color: rgb(14, 13, 13);
    text-align: center;
    margin: 10px;
}
.p1 {
    font-style: normal;
    font-size: 20px ;
    color: rgb(2, 2, 2));
}

.p2 {
    font-style:normal;
    font-size: 20px;
    color: rgb(2, 2, 2);
}

header {
    border-bottom: rgb(226, 204, 162);
    margin-top: 5px;
    padding: 20px;
    font-size: 10px;
    text-decoration: black;
}

.inicio {
    background:
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.PRIMEIRA {
    margin-right: 5%;
}


